<div class="container">
  <div class="top">
    <div class="header">
      prince akachi
    </div>

    <div class="body">
      <div class="detail-menu">
        <span class="detail-menu__left">
          <span class="session-menu-item">Session</span>
          <span class="extra-menu-item">Extra</span>
        </span>
        <span class="plus-menu-item">+</span>
      </div>

      <div class="info">
        <div class="name">
          <p class="info__firstname">{{ selectedModel?.firstName }}</p>
          <p class="info__lastname">{{ selectedModel?.lastName }}</p>
        </div>

        <p class="role">Model</p>
      </div>
    </div>



    <div class="navigation">
      <span class="instagram">
        Instagram
      </span>
      <span class="navigation__item" *ngFor="let model of models; index as i">
        <span class="button" (click)="onClickModel(i)">
          <span *ngIf="showNavigationItem(i)">
            {{model.$indexRoman}}/{{model.$totalRoman}}
          </span>
          <!-- CRAZY TEMP HACK -->
          <span *ngIf="!showNavigationItem(i)">
            <br>
          </span>
        </span>
        <br>
        <span class="next-label" *ngIf="showNavigationItem(i)">
          Next Picture
        </span>
        <!-- CRAZY TEMP HACK -->
        <span class="next-label" *ngIf="!showNavigationItem(i)">
          <br>
        </span>
      </span>
    </div>
  </div>

  <div class="bottom">
    <p class="location">
        {{ selectedModel?.country }}, {{ selectedModel?.state }}
    </p>

    <p class="role">
        {{ selectedModel?.role }}
    </p>
  </div>
</div>

