@import "../../variables.sass"

.container
  height: 100%

.top
  background-color: $white
  height: 80%
  padding: 25px

  .header
    color: #191919
    font-family: $secondary-font
    font-size: 0.625em
    font-weight: 500
    font-style: normal
    font-stretch: normal
    line-height: 1.3
    text-transform: uppercase

  .body
    margin-left: 20px
    margin-top: 100px
    margin-right: 0
    height: 60%
    width: 75%
  .extras
    float: right
    width: 10%

.bottom
  color: $white
  background-color: $black
  height: 20%
  padding: 30px

.location, .role
  font-size: 0.938em
  line-height: 1.13

.detail-menu
  &__left
    display: inline-block
    padding-top: 10px
    font-size: 0.75em
    color: #484646
    line-height: 1.17

.session-menu-item
  display: inline-block
  margin-right: 15px

.plus-menu-item
  float: right
  color: #0e1d33
  font-size: 1.5em

.info
  margin-top: 20px

  &__firstname
    margin-bottom: 15px
  &__lastname
    margin-top: 15px

  .role
    float: right
    margin-top: 50px
    font-size: 0.938em
    line-height: 1.13
    text-align: left
    color: #4e4e4e

  .name
    float: left
    font-size: 4.067em
    p
      margin: 0




.navigation
  &__item
    font-family: $primary-font
    display: inline-block
    width: 18%
    .button
      display: inline-block
      width: 100%
      text-align: center
      font-size: 1.8em
      border-bottom: 1px solid rgba($black, 0.2)
      padding-bottom: 10px
      cursor: pointer
      height: 50px
    .next-label
      display: inline-block
      width: 100%
      text-align: center
      font-family: $primary-font
      font-size: 0.688em
      font-style: italic
      line-height: 1.09
      color: #484646

  position: relative


  .instagram
    display: inline-block
    width: 10px
    margin-right: 15%
    /* Rotate from top left corner */
    transform-origin: 0 0
    transform: rotate(270deg)
    font-size: 15px
    line-height: 1.13
    text-align: left
    color: #3b3b3b




