@import "../../variables.sass"

.container
  height: 100%
  background-image: url('../../assets/images/model-1.jpg')
  background-repeat: no-repeat
  background-size: cover

.menu-btn
  float: right
  width: 180px
  text-align: center
  text-transform: uppercase
  font-family: $secondary-font
  background-color: white
  line-height: 1.18
  font-weight: 500
  padding-top: 38px
  height: 97px

