<div class="container" [ngStyle]="containerBackgroundStyle">
  <div class="content" fxLayout="column" fxLayout.gt-md="row">
    <app-model-detail-component fxFlex.gt-md="50%" fxFlex="100%"></app-model-detail-component>
    <app-model-image-component fxFlex.gt-md="50%" fxFlex="100%"></app-model-image-component>
  </div>
</div>
