/* You can add global styles to this file, and also import other style files */
@import "./variables.sass"


body
  margin: 0
  font-family: $primary-font;

html, body
  height: 100%;

*
  box-sizing: border-box
